/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI",sans-serif;
}

/* BACKGROUND */
body{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  background:linear-gradient(-45deg,#15173D ,#982598    ,#79295e  ,#964728);
  background-size:400% 400%;
  animation:gradientMove 12s ease infinite;
}

@keyframes gradientMove{
  0%{background-position:0% 50%;}
  50%{background-position:100% 50%;}
  100%{background-position:0% 50%;}
}

/* BUBBLES */
.bubbles span{
  position:absolute;
  bottom:-100px;
  width:50px;
  height:50px;
  background:rgb(237, 233, 237);
  border-radius:50%;
  backdrop-filter:blur(5px);
  animation:float 15s linear infinite;
}

.bubbles span:nth-child(1){ left:10%; animation-duration:12s;}
.bubbles span:nth-child(2){ left:30%; animation-duration:18s;}
.bubbles span:nth-child(3){ left:50%; animation-duration:10s;}
.bubbles span:nth-child(4){ left:70%; animation-duration:20s;}
.bubbles span:nth-child(5){ left:85%; animation-duration:14s;}

@keyframes float{
  0%{ transform:translateY(0) scale(1);}
  100%{ transform:translateY(-110vh) scale(1.5);}
}

/* CONTAINER */
.container{
  width:900px;
  height:500px;
  display:flex;
  border-radius:25px;
  overflow:hidden;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(20px);
  box-shadow:0 25px 60px rgba(0,0,0,0.4);
  transition:.5s ease;
}

.container:hover{
  transform:scale(1.02);
}

/* IMAGE SIDE */
.image-section{
  flex:1;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background:rgba(0,0,0,0.3);
  color:white;
  text-align:center;
  padding:40px;
  border: 3px solid white ;
}

.image-section img{
  width:150px;
  margin-bottom:20px;
}

/* FORM SIDE */
.form-section{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:60px;
  background:rgba(255,255,255,0.05);
  color:white;
   border: 3px solid white ;
}

.form-section h2{
  margin-bottom:25px;
}

input{
  width:100%;
  padding:14px;
  margin-bottom:20px;
  border:none;
  border-radius:12px;
  background:rgba(255,255,255,0.2);
  color:white;
}

input::placeholder{
  color:rgb(0, 0, 0);
}

input:focus{
  outline:none;
  box-shadow:5px 5px 5px 5px rgb(239, 235, 235);
}

button{
  padding:14px;
  border:none;
  border-radius:12px;
  background:linear-gradient(135deg,#000000,#000000);
  color:white;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
  position:relative;
  overflow:hidden;
}

button:hover{
  transform:scale(1.10);
}

.spinner{
  width:20px;
  height:20px;
  border:3px solid rgba(255,255,255,0.3);
  border-top:3px solid white;
  border-radius:50%;
  animation:spin 1s linear infinite;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  display:none;
}

@keyframes spin{
  to{transform:rotate(360deg);}
}

.toast{
  position:fixed;
  bottom:30px;
  right:30px;
  background:rgba(34,197,94,.9);
  color:white;
  padding:16px 22px;
  border-radius:12px;
  opacity:0;
}

.toast.error{
  background:rgba(239,68,68,.9);
}
