body {
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  text-align: center;
  padding: 50px;
}

button {
  padding: 15px 30px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background: cyan;
  cursor: pointer;
}
